#game-blog {
    overflow: hidden;
}

#game-blog .game-wrapper {
    padding: 24px;
    width: calc(100% - 24px * 2);
    height: calc(100% - 24px * 2);
}

#game-blog .game-wrapper .game-scene {
    width: 100%;
    height: 100%;
    position: relative;
}

#game-blog .game-wrapper .game-scene .player-block {
    width: 162px;
    height: 79px;
    background-image: url(../image/game-player-1.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: absolute;
    left: 50%;
    bottom: 0px;
    z-index: 100;
}

#game-blog .game-wrapper .game-scene .player-block .player-cart {
    width: 65%;
    height: 5px;
    margin: 0px auto;
    margin-top: 15px;
}

#game-blog .game-wrapper .game-scene .enemy-block {
    position: absolute;
    transition: opacity 1s;
    opacity: 0;
}

#game-blog .game-wrapper .game-scene .enemy-1 {
    width: 43.5px;
    height: 43.5px;
    background-image: url(../image/game-enemy-1.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#game-blog .game-wrapper .game-scene .enemy-2 {
    width: 25.5px;
    height: 25.5px;
    background-image: url(../image/game-enemy-2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#game-blog .game-wrapper .game-scene .enemy-3 {
    width: 48.88px;
    height: 48.88px;
    background-image: url(../image/game-enemy-3.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#game-blog .game-wrapper .game-scene .enemy-4 {
    width: 43px;
    height: 43px;
    background-image: url(../image/game-enemy-4.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#game-blog .game-wrapper .game-scene .enemy-5 {
    width: 43px;
    height: 43px;
    background-image: url(../image/game-enemy-5.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#game-blog .game-wrapper .game-scene .enemy-6 {
    width: 38.5px;
    height: 38.5px;
    background-image: url(../image/game-enemy-6.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#game-blog .game-wrapper .game-scene .enemy-7 {
    width: 64.9px;
    height: 64.9px;
    background-image: url(../image/game-enemy-7.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}